body {
    background: linear-gradient(to right, #f3e5f5, #fce4ec);
    font-family: 'Noto Sans KR', sans-serif;
}

input[type="text"], select {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

button {
    margin: 10px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #9c27b0, #7b1fa2);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    box-shadow: 0 0 15px 4px rgba(154, 39, 176, 0.5);
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    background: linear-gradient(to right, #f3e5f5, #fce4ec);
    border-radius: 15px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#taskInput {
    width: 60%;
}

#prioritySelect {
    width: 20%;
}

#addBtn {
    width: 15%;
}
